<h1><%= @my_project.name %></h1>

<ul>
	<%@my_entries.each do |entry|%>
		<li> 
			<%= entry.hours %> hr 
			<%= entry.minutes %> mns
			<%= entry.date %> 
			<%= link_to 'edit', "/projects/#{@my_project.id}/time_entries/#{entry.id}/edit" %>
			<a href=''></a>
		</li>
	<%end%>
</ul>